@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (HttpContextAccessor.HttpContext.Session.GetInt32("isLoggedIn") == 1)
{
    <p id="profile">Hallo @HttpContextAccessor.HttpContext.Session.GetString("name")!</p>
    <a class="float-right card-link" href="/user/ShowProfile">Profil anzeigen</a>
    <a class="card-link" asp-action="Logout" asp-controller="Home">Logout</a>
    @if (HttpContextAccessor.HttpContext.Session.GetInt32("isAdmin") == 1)
    {
        <a class="card-link" asp-controller="admin" asp-action="addRoom">Raum hinzufügen</a>
        <a class="card-link" asp-controller="admin" asp-action="ShowUsers">Alle Benutzer anzeigen</a>
    }
}
else
{
    <a class="card-link" href="/login/index">Login</a> <br />
    <a class="card-link" href="/login/register">Registrieren</a>
}